@font-face {
  font-family: 'heatwoodregular';
  src: url('../webfontkit-heatwood/heatwood-webfont.woff2') format('woff2'),
       url('../webfontkit-heatwood/heatwood-webfont.woff') format('woff');
  font-weight: normal;
font-display: swap;
  font-style: normal;

}

.hidden_body {
  opacity: 0 !important;
  visibility: hidden;
  transition: ease-in .3s opacity;
}

body {
  font-family: 'Open Sans', Arial, sans-serif;
  font-size: 1.0rem;
  font-weight: 300;
  overflow-x: hidden;
  color: #303030;
  background-color: white;
  /* Fade in part */
  animation: fadeInAnimation ease 1s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

.landing-page {
  /* background-image: url('../img/landing-page.gif'); 
  background-repeat: no-repeat;
  background-position: center top 0px; */
  position: relative;
}

.projects-top {
  padding: 0 15% ;
}

.read-more-spacer {
  margin: 1rem;
}

.read-more {
  background: #FEDE9C;
  box-shadow: 2px 2px 10px 2px rgba(205, 205, 205, 0.25);
  border-radius: 10px;
  font-family: 'Open Sans', Arial, sans-serif;
  font-size: 1.0rem;
  font-weight: 350;
}

.read-more-arrow {
  padding-left: 5px;
  padding-bottom: 4px;
  align-items: center;
}

.nav-logo {
  position:absolute;
  opacity:1;
  transition:opacity 0.5s linear;
  z-index: 1000;
}

/* Navigation */
.navbar-toggler {
  transform: scale(1.25);
  color: darkslategray;
}

.navbar-expand-lg {
  padding-left: 0;
  padding-right: 0;
}

.navbar-expand-lg .navbar-nav .nav-link {
  padding: 0;
  font-family: 'minion-pro', serif;
  font-weight: regular;
  font-size: 1.1rem;
  color: darkgrey;
}

.navbar-expand-lg .navbar-nav .tm-nav-link {
  font-size: 1.5rem;
  font-weight: 400;
  /* padding-bottom: 30px;     */
}

.nav-item {
  padding-top: 0px;
  margin-right: 60px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.nav-item:last-child {
  margin-right: 0;
}

.nav-item.active .tm-nav-link, .nav-item:hover .tm-nav-link {
  color: #9CC;
}

.yellow-box {
  background-color: #fdb92d;
  width: 60px;
  height: 5px;
  left: 200px;
  top: 159px;
}

.yellow-box-bootstrap {
  background-color: #fdb92d;
  width: 60px;
  height: 5px;
  margin-top: 5px;
}

.signature {
  font-family: 'heatwoodregular';
  font-weight: normal;
  font-style: normal;
  font-size: 1.1rem;
  padding-bottom: 5%;
  color: #414141;
  z-index: 5;
  position: relative;
}

.flex-links {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.fancy-image {
  max-width: 100%;
  cursor: pointer;
}

.project-img {
  transition: ease-in-out 0.3s;
  transform: scale(0.95);
}

::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 10px;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #c4c4c4;
  box-shadow: 0px 4px 10px rgba(169, 168, 168, 0.25);
  ; }

.tm-content-title {
  font-family: 'minion-pro', serif;
  font-weight: regular;
  font-size: 3rem;
}

hr {
  border-top: 1px solid white;
}

.btn {
  padding: 10px 25px;
  border-radius: 0;
}

.mb-4 {
  border-top: 0;
  /* padding-top: 1px; */
}

.navbar {
  padding-bottom: 0%;
  padding-left: 0;
  padding-right: 0;
  box-sizing: content-box;
  background-color: white;
  opacity: 0.95;
  z-index: 10;
}

.nav-hold {
  position: -webkit-sticky;
  position: sticky;
  top: -0px;
  z-index: 1000;
  max-width: 100%;
  width: 100%;
}

.reco-name {
  font-family: 'minion-pro', serif;
  font-weight: regular;
  font-size: 18px;
  color: #383833;
  width: 100%;
}

.reco-title {
  font-family: 'minion-pro', serif;
  font-weight: regular;
  font-size: 18px;
  color: #777777;
  width: 100%;
}

.reco-container {
  text-align: center;
  position: relative;
  top: 20px;
}

.carousel .reco-next-icon {
  width: 100%;
  padding: 10px;
  background-image: url("../img/recoarrow1.svg");
  position: absolute;
  transform: scale(1.5);
  top: 100px;
}

.carousel .carousel-control-next {
  right: -20%;
}

.reco-indicators {
  position: relative;
  margin: auto;
  top: 25px;
  display: none;
}

.footer-connected {
  font-family: 'minion-pro', serif;
  font-weight: semi-bold;
  font-size: 24px;
}

.footer-city {
  font-family: 'Open Sans', Arial, sans-serif;
  font-weight: regular;
  font-size: 14px;
  color: #777777;
}

.footer-email {
  font-family: 'Open Sans', Arial, sans-serif;
  font-weight: regular;
  font-size: 18px;
}

.footer-design {
  font-family: 'Open Sans', Arial, sans-serif;
  font-weight: regular;
  font-size: 14px;
  color: #666666;
}

.footer-coding {
  font-family: 'Open Sans', Arial, sans-serif;
  font-weight: light;
  font-size: 14px;
  color: #777777;
}

.contact-text {
  font-family: 'Open Sans', Arial, sans-serif;
  font-size: 14px;
  color: #3d3d3d;
}

.bottom-line-box {
  height: 16px;
  width: 20%;
  background-color: black;
}

.c1 {
  background-color: #FEDE9C;
}

.c2 {
  background-color: #D7EDF1;
}

.c3 {
  background-color: #DBDCF5;
}

.c4 {
  background-color: #D3FAE7
}

.c5 {
  background-color: #F6E4E4;
}

#footer-banner-mobile {
  display: none;
}

.button_container {
  position: fixed;
  top: 5%;
  right: -5px;
  height: 27px;
  width: 35px;
  cursor: pointer;
  z-index: 100;
  transition: opacity 0.25s ease;
}

.button_container span {
  background: #303030;
  border: none;
  height: 2px;
  width: 70%;
  border-radius: 2px;
  position: absolute;
  top: 10px;
  left: 0;
  transition: all 0.35s ease;
  cursor: pointer;
}

.button_container span:nth-of-type(2) {
  top: 18px;
}

.button_container span:nth-of-type(3) {
  top: 26px;
}

.video-container {
  position: absolute;
  top: 0;
  left: 0;
  height: 115px;
  width: 100%;
  overflow: hidden;
}

.video-container video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

@media (max-width: 1200px) {
  .read-more-spacer {
    margin: 0.5rem;
}
.nav-hold {
  top: -6px;
}
#header, #header-cs {
  padding-bottom: 40px;
}

.signature {
  padding-top: 30px;
}

.navbar-collapse {
  position: fixed;
  width: 100%;
  top: 0px;
  height: 100vh;
}

.navbar {
  opacity: 1.0;
}

.navbar-collapse , .nav-item {
  display: inline;
  align-items: left;
}

.navbar-brand {
  margin-left: 15px;
}

.navbar-toggler, .collapsed {
  margin-right: 15px;
  z-index: 100;
}
project-title {
  margin-top: 1rem;
}
.carousel-control-next {
  display: none;
}

.reco-container {
  height: 320px;
}
}

@media (max-width: 768px) {
  #tm-main-nav {
    top: 10px;
    padding-bottom: 0;
    height: 100vh;
}
.projects-top {
  padding: 0 0 ;
}

.container {
  padding-left: 2%;
  padding-right: 2%;
}

.row {
  padding-left: 0%;
  padding-right: 0%;
  margin-left: 0%;
  margin-right: 0%;
}

#footer-banner-desktop {
  display: none;
}

#footer-banner-mobile {
  display: flex;
}

.reco-container {
  height: 430px;
}

.reco-indicators {
  display: flex;
}

.contact-text {
  font-size: 0.9rem;
}
}