.sticky-hero__media {
    position: sticky;
    top: 0;
    height: 60vh;
    max-width: 100%;
    background-size: cover;
    z-index: -1;
}
.sticky-hero__content {
    position: relative;
    z-index: 2;
  
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;

    background-color:white;
    opacity: 0.95;
}

.sticky-hero--overlay-layer .sticky-hero__media::after { 
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    opacity: 1;
    /* background-color: var(--color-bg); */
    transition: opacity 1s;
}
  
.sticky-hero--media-is-fixed .sticky-hero__media {
    transform: scale(0.9);
}

.rounded-box {
    background: rgba(245, 244, 244, 0.3);
    border: 0.5px solid #dedede;
    box-sizing: border-box;
    border-radius: 10px;
    padding: 10px;
}


.carousel-img {
    background-color: rgba(253, 185, 45, 0.4);
    height:100%;
    min-height:400px;
        /* Center and scale the image nicely */
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
  }
  
.carousel-h100, .carousel-h100 .carousel-item, .carousel-h100 .carousel-inner {
    height:100%;
}

.carousel-indicators {
    bottom:-50px;
}

.carousel .carousel-indicators li {
    background-color: #fff;
    background-color: rgba(20, 20, 20, 0.25);
}

.carousel .carousel-control-prev{
    left: -20%;
}

.carousel .carousel-control-prev-icon {
    height: 24px;
    width: 15px;
    background-image: url("../left_arrow.svg");
}

.carousel .carousel-control-next-icon {
    height: 24px;
    width: 15px;
    background-image: url("../right_arrow.svg");
}

.carousel .carousel-control-next{
    right: -20%;
}

.carousel-banner {
    background: rgba(247, 247, 247, 0.7);
    backdrop-filter: blur(10px);
    transition: all 0.5s;
    padding: 5% 0%;
    /* transform: scale(0.95); */
}

.carousel-banner:hover {
    /* background: rgba(253, 185, 45, 0.1); */
    /* backdrop-filter: blur(1px); */
    /* transform: scale(0.95); */
    /* transition: all 1s; */
    cursor: pointer;
}


.carousel .carousel-indicators li {
    width: 8px;
    height: 8px;
    margin-left: 5px;
    margin-right: 5px;
    background-color: #C4C4C4;

    border-radius: 50%;
}
     

.next-project-box {
    background:  rgba(253, 185, 45, 0.1);
    padding: 10px;
}

#adult-it {
    background-image:url('../adultit.png'); 
    align-items: center;
    width: 100%;
    border-radius: 10px;
    transition: all 0.5s;
    /* filter: blur(10px); */
}

.carousel-caption {
    right: 0%;
    left: 0%;
    top: 50%;
    transform: translateY(-50%);
    color: #303030
};

.car-img {
    transition: all 2.5s;
}

.myul {
  list-style: none; /* Remove default bullets */
}

.myul .myli::before {
  content: "\2022";  /* Add content: \2022 is the CSS Code/unicode for a bullet */
  color: #b5b5b5; /* Change the color */
  font-weight: bold; /* If you want it to be bold */
  display: inline-block; /* Needed to add space between the bullet and the text */
  width: 1em; /* Also needed for space (tweak if needed) */
  margin-left: -1em; /* Also needed for space (tweak if needed) */
}

.myul .myli-big::before {
  content: "\2022";  /* Add content: \2022 is the CSS Code/unicode for a bullet */
  font-size: 2rem;
  font-weight: bold; /* If you want it to be bold */
  display: inline-block; /* Needed to add space between the bullet and the text */
  width: 0.9em; /* Also needed for space (tweak if needed) */
  position: relative;
  top: 5px;
  margin-left: -1em; /* Also needed for space (tweak if needed) */
}

.myul .sp1::before {
  color: #DBEDF1; /* Change the color */
}

.myul .sp2::before {
  color: #ADC9CF; /* Change the color */
}
.myul .sp3::before {
  color: #6A9CA7; /* Change the color */
}
.myul .sp4::before {
  color: #377482; /* Change the color */
}


.myol {
  list-style: none; /* Remove default bullets */
  counter-reset: my-awesome-counter;
}

.myol .myli {
  /* margin: 0 1rem 0.5rem 0; */
  counter-increment: my-awesome-counter;
  position: relative;

}
.myol .myli::before {
  /* list-style-type: decimal; */
  content: counter(my-awesome-counter)  ;
  color: #FDB92D; /* Change the color */
  font-weight: bold; /* If you want it to be bold */
  font-size: 1.25rem;
  display: inline-block; /* Needed to add space between the bullet and the text */
  width: 1em; /* Also needed for space (tweak if needed) */
  position: relative;
  left: -5px;
  margin-left: -1em; /* Also needed for space (tweak if needed) */
}

.model-img:hover{
  opacity: 0.8;
  cursor: pointer;
  transition: 0.3s;
}
  
/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
  z-index: 1003;
  align-items: center;
}

/* Modal Content (Image) */
.modal-content {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 100%;
  max-height: 100%;
  align-self: center;
  position:absolute;
  top: 0;
  bottom: 0;    
  left: 0;
  right: 0;

}

/* Caption of Modal Image (Image Text) - Same Width as the Image */
#caption {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
  height: 150px;
}

/* Add Animation - Zoom in the Modal */
.modal-content, #caption {
  animation-name: zoom;
  animation-duration: 0.6s;
}

@keyframes zoom {
  from {transform:scale(0)}
  to {transform:scale(1)}
}

/* The Close Button */
.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
  .modal-content {
    width: 100%;
  }
}
