nav {
  height: 50px;
  background-color: lightgrey;
}

/* target the class of inline-block below */
.inline-block{
  display: inline-block;
  padding: 15px;
  }
/* target the class of .left below */
.left{
 height: 500px;
 float: left;
 background-color: lightblue;
 width: 30%;
 text-align: center;
}

.right{
  height: 500px;
  float: left;
  background-color: lightgreen;
  width: 70%;
  text-align:center;
 }

.card{
    display: inline-block;
    background-color: #c6c6c6;
    border-radius: 5px;
    height: 200px;
    width: 150px;
    margin: 35px;
    margin-top: 50px;
    
  }

