.sticky-hero__media {
    background: url('../img/heroimgmockup.jpg') no-repeat center center;
    background-size: cover;
}

#chat1 {
    transition: all 1s;
}
#chat1_new{
    transition: all 1s;
}

#img_holder_1 {
    -webkit-filter: blur(2px); /* Safari 6.0 - 9.0 */
    filter: blur(2px);
}
#img_holder_3 {
    -webkit-filter: blur(2px); /* Safari 6.0 - 9.0 */
    filter: blur(2px);
}

#img_holder_2_2 {
    -webkit-filter: blur(2px); /* Safari 6.0 - 9.0 */
    filter: blur(2px);
}

.img_holder_inactive {
    -webkit-filter: blur(2px); /* Safari 6.0 - 9.0 */
    filter: blur(2px);
    transition: ease 0.5s;
    z-index: 1;
    cursor: pointer;
}

.img_holder_active_2 {
    transform: scale(1.25) translateX(15%);
    z-index: 100;
    transition: ease 0.5s;
}
.img_holder_active_2:hover{
    opacity: 1.0;
    cursor: pointer;
}

.img_holder_active_3 {
    transform: scale(1.7);
    z-index: 100;
    transition: ease 0.5s;
}
.img_holder_active_3:hover{
    opacity: 1.0;
    cursor: pointer;
}

.img_holder_active_3#img_holder_1_1 {
    transform: scale(1.7) translateX(18%);
}
.img_holder_active_3#img_holder_1_3 {
    transform: scale(1.7) translateX(-16%);
}

.img-container{
    position:relative;
    display:inline-block;
}

.img-container .overlay-img{
    position:absolute;
    top: -1%;
    left:0;
    width:100%;
    height:100%;
    opacity:1.0;
    color: white;
    pointer-events: none
    /* transition:opacity 500ms ease-in-out; */
}

.arrow-hover:hover{
    opacity: 0.5;
    cursor: pointer;
    transition: ease 0.5s;
}

.img_holder_dummy{
    opacity: 0;
}
.img_holder_pos_1
{
    transform: translateX(0);
    -webkit-filter: blur(2px); /* Safari 6.0 - 9.0 */
    filter: blur(2px);  
    z-index: 1;
    transition: transform ease 1s;
}
.img_holder_pos_2
{
    transform: translateX(100%) scale(1.7);
    z-index: 2;
    transition: transform ease 0.75s;
}
.img_holder_pos_3
{
    transform: translateX(220%);
    -webkit-filter: blur(2px); /* Safari 6.0 - 9.0 */
    filter: blur(2px);  
    z-index: 1;
    transition: transform ease 0.25s;
}

@media (max-width: 500px) {
    .sticky-hero__media {
        background: url('../img/heroimgmockup_mobile.jpg') no-repeat center center;
        background-size: cover
    }

    .goals-container{
        background: #f7f7f7;
        margin-left: -5%;
        margin-right: -5%;
        padding-top: 5%;
        width: 109%;
    }
    .goals-container ol{
        margin-left: 3rem!important;
        margin-right: 1.5rem!important;
    }
}