.sticky-hero__media {
    position: sticky;
    top: 0;
    height: 60vh;
    max-width: 100%;
    background: url(../img/heroimgmockup.jpg) no-repeat center center;
    background-size: cover;
    z-index: -1;
}
.sticky-hero__content {
    position: relative;
    z-index: 2;
  
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;

    background-color:white;
    opacity: 0.95;
  }

.sticky-hero--overlay-layer .sticky-hero__media::after { 
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    opacity: 1;
    /* background-color: var(--color-bg); */
    transition: opacity 1s;
  }
  
.sticky-hero--media-is-fixed .sticky-hero__media {
    transform: scale(0.9);
  }

.rounded-box {
    background: rgba(245, 244, 244, 0.3);
    border: 0.5px solid #B5B5B5;
    box-sizing: border-box;
    border-radius: 10px;
    padding: 10px;
}


.carousel-img {
    background-color: rgba(253, 185, 45, 0.4);
    height:100%;
    min-height:400px;
        /* Center and scale the image nicely */
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
  }
  
.carousel-h100, .carousel-h100 .carousel-item, .carousel-h100 .carousel-inner {
    height:100%;
}

.carousel-indicators {
    bottom:-50px;
}

.carousel .carousel-indicators li {
    background-color: #fff;
    background-color: rgba(20, 20, 20, 0.25);
}

.carousel .carousel-control-prev{
    left: -20%;
}

.carousel .carousel-control-prev-icon {
    height: 24px;
    width: 15px;
    background-image: url("../../common/left_arrow.svg");
}

.carousel .carousel-control-next-icon {
    height: 24px;
    width: 15px;
    background-image: url("../../common/right_arrow.svg");
}

.carousel .carousel-control-next{
    right: -20%;
}

.carousel-banner {
    background: rgba(247, 247, 247, 0.7);
    backdrop-filter: blur(10px);
    transition: all 0.5s;
    padding: 5% 0%;
    /* transform: scale(0.95); */
}

.carousel-banner:hover {
    /* background: rgba(253, 185, 45, 0.1); */
    /* backdrop-filter: blur(1px); */
    /* transform: scale(0.95); */
    /* transition: all 1s; */
    cursor: pointer;
}


.carousel .carousel-indicators li {
    width: 8px;
    height: 8px;
    margin-left: 5px;
    margin-right: 5px;
    background-color: #C4C4C4;

    border-radius: 50%;
}
     

.next-project-box {
    background:  rgba(253, 185, 45, 0.1);
    padding: 10px;
}

#adult-it {
    background-image:url('../../common/adultit.png'); 
    align-items: center;
    width: 100%;
    border-radius: 10px;
    transition: all 0.5s;
    /* filter: blur(10px); */
}

.carousel-caption {
    right: 0%;
    left: 0%;
    top: 50%;
    transform: translateY(-50%);
    color: #303030
};

.car-img {
    transition: all 2.5s;
}