.grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
  align-items: center;
  justify-items: center;
  font-family: helvetica, arial, sans-serif;
  color: white;
  grid-template-areas:
  "hover"
  "disabled"
  ;
  height: 500px;
}
.hoverMe {
  grid-area: hover;
  background-color: red;
  border:none;
  border-radius: 50px;
  color: white;
  width: 150px;
  text-align: center;
  height: 50px;
  transition: all 0.3s ease-in-out;
  cursor: pointer;

}
/* active state */

.hoverMe:active{
  background-color:black;
}
/* .hoverMe:hover {
  background-color: blue;

} */

/* .hoverMe:hover {
  transform: scale(2,2)
} */

.hoverMe:hover {
  box-shadow: 1px 5px 10px grey;  
}

